@model MODEL.Entities.Employee
@{
    ViewBag.Title = "UpdateEmployee";
    Layout = "~/Areas/InsanKaynaklari/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />
<form role="form" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputPassword4">Personel Vesikalık</label>
                            <input type="file" name="imagePath" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">TCKN</label>
                            @*<input type="text" class="form-control" id="inputEmail4" placeholder="Ad Girin">*@
                            @Html.TextBoxFor(x => x.TCKN, new { @class = "form-control", placeholder = "TCKN Girin" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Ad</label>
                            @*<input type="text" class="form-control" id="inputEmail4" placeholder="Ad Girin">*@
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "Ad Girin" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Soyad</label>
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Soyad Girin" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Bölge</label>
                            @*<input type="text" class="form-control" id="inputEmail4" placeholder="Ad Girin">*@
                            @Html.TextBoxFor(x => x.Seller.District, new { @class = "form-control", placeholder = "Bölge Girin" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Ünvan</label>
                            @*<input type="text" class="form-control" id="inputEmail4" placeholder="Ad Girin">*@
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Ünvan Girin" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Doğum Tarihi</label>
                            @Html.TextBoxFor(x => x.BirthDate, new { @class = "form-control", type = "datetime", placeholder = "Doğum Tarihi Girin" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">İşe Alım Tarihi</label>
                            @*<input type="text" class="form-control" id="inputEmail4" placeholder="Ad Girin">*@
                            @Html.TextBoxFor(x => x.HireDate, new { @class = "form-control", placeholder = "İşe Alım Tarihi Girin" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Telefon No</label>
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", placeholder = "Telefon Numarası Girin" })
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputAddress">Adres</label>
                            @Html.TextBoxFor(x => x.Adress, new { @class = "form-control", placeholder = "Caferağa Mah.Mühürdar Cd. No:76 Kadiköy/İstanbul" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">IBAN</label>
                            @Html.TextBoxFor(x => x.IbanNo, new { @class = "form-control", type = "datetime", placeholder = "Iban No Girin" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Eğitim Durumu</label>

                            @Html.TextBoxFor(x => x.EducationStatus, new { @class = "form-control", placeholder = "Eğitim Durumu Girin" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Sertifika 1</label>
                            @Html.TextBoxFor(x => x.Certificate1, new { @class = "form-control", placeholder = "Sertifika Girin" })

                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Sertifika</label>
                            @Html.TextBoxFor(x => x.Certificate2, new { @class = "form-control", placeholder = "Sertifika Girin" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputState">Mağaza Girin</label>
                            <select id="inputState" class="form-control">
                                <option selected>Mağaza Seçin</option>
                                @foreach (var item in ViewBag.Sellers as List<MODEL.Entities.Seller>)
                                {
                                    <option value="@item.ID">@item.CityName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputState">İlçe Girin</label>
                            <select id="inputState" class="form-control">
                                <option selected>İlçe Seçin</option>
                                @foreach (var item in ViewBag.Sellers as List<MODEL.Entities.Seller>)
                                {
                                    <option value="@item.ID">@item.District</option>
                                }
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</form>

