@model List<MODEL.Entities.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SatınAlma/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Satın Alma Departmanı</h1>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Toplam Ürün</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">@ViewBag.ProductCount</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <!--Stok Durumu-->
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Personel Sayısı</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">@ViewBag.SellerCount</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <!--Toplam Satış-->
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Tedarikçi Sayısı</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">@ViewBag.SupplierCount</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <!--Toplam İade-->
            @*<div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Danger Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>*@
        </div>
        @*@Html.Action("_PartialDashboard")*@
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    @Html.ActionLink("Ürün Yeni Kayıt", "AddProduct", "Home", null, new { @class = "" })
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ürün Ad</th>
                                <th>Ürün Fiyat</th>
                                <th>Ürün Stok</th>
                                <th>Kriter Notu</th>
                                <th>Açıklama</th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductName </td>
                                <td>@item.UnitPrice</td>
                                <td>@item.UnitsInStock</td>
                                <td>@item.CriterionNote</td>
                                <td>@item.Description</td>                               
                               
                                <td>
                                    @Html.ActionLink("Güncelle", "UpdateProduct", new { id = item.ID }, new { @class = "btn btn-warning" })
                                    @Html.ActionLink("Sil", "DeleteProduct", new { id = item.ID }, new { @class = "btn btn-danger" })

                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>



</main>

